<h2>Supervisor</h2>
<ul>
  <li>Name: <%= resource.name %></li>
  <li>Type: <%= resource.zone %></li>
  <li>Cost: <%= resource.cost %></li>
  <li>Address: <%= resource.address %></li>
  <li>Contact Name: <%= resource.contact_name %></li>
  <li>EMail Address: <%= resource.email_address %></li>
</ul>
