<h2 class="page_title">Client</h2>
<li>
  <ul>Code: <%= resource.code %></ul>
  <ul>Type: <%= resource.zone %></ul>
  <ul>Organisation: <%= resource.organisation.name %></ul>
  <ul>Notes: <%= resource.notes %></ul>
  <ul>Gender: <%= resource.gender %></ul>
</li>
