<h2>Counselling Session</h2>
<ul>
  <li>Code: <%= resource.meetable.code %></li>
  <li>Type: <%= resource.zone %></li>
  <li>Date: <%= resource.date %></li>
  <li>Length: <%= resource.length %></li>
  <li>Notes: <%= resource.notes %></li>
</ul>
<br class="clr"/>
<%= button_to "Edit", edit_resource_url, :method => "get" %>
<%= button_to "Delete", {:action => "destroy", :id => resource.id}, :data => {:confirm => "Are you sure?"}, :method => "delete" %>

