<h2>Counselling Session</h2>
<ul>
  <li>Code: <%= resource.meetable.code %></li>
  <li>Type: <%= resource.zone %></li>
  <li>Date: <%= resource.date %></li>
  <li>Length: <%= resource.length %></li>
  <li>Notes: <%= resource.notes %></li>
</ul>
