<div class="navigation row">
  <ol class="app_menu col-md-8">
    <li><%= link_to "Clients", clients_path %></li>
    <li><%= link_to "Sessions", counselling_sessions_path %></li>
    <li><%= link_to "Organisations", organisations_path %></li>
    <li><%= link_to "Supervisors", supervisors_path %></li>
  </ol>
</div>
<% unless controller_name == "welcome" then %>
  <div class="subnavigation row">
    <ol class="app_menu col-md-8">
      <li><%= link_to "New", new_resource_path %></li>
      <li><%= link_to "Index", collection_path %></li>
    </ol>
  </div>
<% end %>
