<h2 class="page_title"><%= "#{resource_class.model_name.human.pluralize}" %></h2>
<%= datagrid_table @grid, @assets %>
<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @assets %>
  </div>
  <%= will_paginate @assets, :container => false %>
</div>
<%= link_to "New", new_supervisor_path %>
