<div class="page-header">
  <h1 class="page_title"><%= "#{resource_class.model_name.human.pluralize}" %></h1>
</div>
<%= datagrid_table @grid, @assets %>
<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @assets %>
  </div>
  <%= will_paginate @assets, :container => false %>
</div>
<%= button_to "New", new_resource_path, :class=> "btn btn-lg btn-primary" %>
